# ignore all sqlite files

*.sqlite

# ignore kb generated dirs and files from kb_sub dir

/kb_sub/ee_reader
/kb_sub/over_max
/kb_sub/over_max_spreadsheet
/kb_sub/pp_guide
/kb_sub/spreadsheets
/kb_sub/weekly_availability
/kb_sub/infc_grv

# ignore license and readme files in kb_sub dir

/kb_sub/LICENSE.txt
/kb_sub/readme.txt

# ignore the kb_install folder

kb_install
