# ignore all sqlite files

*.sqlite

# ignore all exe and dmg setup files

*.exe
*.dmg
*.zip

# ignore __pycache__

__pycache__

# ignore kb generated dirs and files from kb_sub dir

/kb_sub/ee_reader
/kb_sub/over_max
/kb_sub/over_max_spreadsheet
/kb_sub/pp_guide
/kb_sub/spreadsheets
/kb_sub/speedsheets
/kb_sub/weekly_availability
/kb_sub/infc_grv
/kb_sub/report
/kb_sub/ot_equitability
/kb_sub/ot_distribution
/kb_sub/mandates_4
/kb_sub/off_bid
kb_sub/informalc_speedsheets

# ignore license and readme files in kb_sub dir

/kb_sub/LICENSE.txt
/kb_sub/readme.txt
/kb_sub/history.txt
/kb_sub/.DS_Store

# ignore the kb_install folder

kb_install
playground
env
.vs

# ignore all DS Store files

.DS_Store

# ignore .idea files

.idea
/.idea/workspace.xml
/.idea/tasks.xml
/.idea/dictionary
/.idea/misc.xml
/.idea

